# default=60 min=24 max=1000
fpsLock=60
# default=10 min=0 max=255
clearBlue=10
# default=10 min=0 max=255
clearGreen=10
# default=10 min=0 max=255
clearRed=10
# default=false min=false max=true
fullscreen=false
# default=500 min=300 max=1000
windowHeight=900
# default=500 min=300 max=1000
windowWidth=900
